# OSX
.DS_Store

# editors
.idea/
.vscode/

# node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# build output
lib/
*.tsbuildinfo

# firebase emulator
firebase-debug.log
firestore-debug.log
ui-debug.log
